#app4{}
#app4 #circle{
    border: 1px solid black;
    width: 15vw;
    height: 15vw;
    border-radius: 100%;
    margin-left: 10vw;
    margin-top: 5vw;
}
#app4 #circle:hover{
    animation: change 2s infinite alternate;
}
@keyframes change {
    0%{
        background: red;
    }
    50%{
        background: yellow;
    }
    100%{
        background: blue;
    }
}